// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1022px;
$breakpoint-xl: 1200px;

/* colors */
/* CSS HEX */
// --charcoal: #334249ff;
// --artichoke: #8f895cff;
// --misty-moss: #b7b57cff;
// --silver: #c1c1c1ff;
// --viridian-green: #3a969dff;

:root {

	--font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
	--font-family-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  --font-size-small: 12px;
  
  --primary-color: #334249ff;
  --header-bg: #334249ff;

  --home-link-color: #c1c1c1ff;
  --home-link-hover-color:  var(--primary-color);

  --button-color: #334249;
  --button-alternate-color: #546d78;

  --post-link-color: #0F070B;


  --nav-link-hover-bg: #111;
  --text-color-meta: rgba(0,0,0,0.5);

  --label-text: #777;
  --input-focus-border: #83AAAC;
  
  // CSS Grid Utility
  --grid-gap: 30px; 

}